.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.h1 {
  margin: 10px;
  font-size: 1.5em;
}

.step-controls,
.counter-controls {
  display: flex;
  margin-bottom: 10px;
}

.step-controls {
  margin-left: 20px;
}

.date-container {
  margin-top: 10px;
}
